html {
    background-color: #f0f0f0;
}

table
{
    border-collapse: collapse;
}
td
{
    border: 1px solid black;
    margin: 0;
    padding: 1px 10px;
}

th
{
    border: 1px solid black;
    margin: 0;
    padding: 1px 10px;
}