<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Panier d'achat</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<div>
    <img src="/images/auchan.jpg" alt="Auchan Logo" title="Auchan logo"
         th:src="@{/images/auchan.jpg}"/>
</div>

<h2>Liste des éléments du panier</h2>
<table>
        <tr>
            <th>Nom</th>
            <th>Quantité</th>
            <th>Prix</th>
            <th>Somme</th>
            <th>Suppression de la ligne</th>
        </tr>
        <tr th:each="line : ${allLines}">
            <td th:text="${line.product.name}"></td>
            <td th:text="${line.quantity}">quantity</td>
            <td th:text="${line.product.price}">prix</td>
            <td th:text="${line.product.price}*${line.quantity}">Somme</td>
            <td>
                <a th:href="|/delete_line/${line.id}|">Delete</a>
            </td>
        </tr>
</table>

<h2>Ajout d'une ligne au panier</h2>

<form action="#" th:action="@{/addline}" th:object="${basket}" method="post">

    <table>
        <tr>
            <td>

                Produits:<br>
                <select id="produits" name="id">
                    <option th:each="var : ${allProducts}"
                            th:value="${var.id}"
                            th:text="${var.name}"></option>
                </select>
                <br>
                Quantité:<br>
                <input type="text" name="quantity"/><br>
            <button type="submit">Ajout d'une ligne au panier</button>
            </td>
        </tr>
    </table>

</form>

<br>
<hr>
<br>

<h2>Liste des produits</h2>
<table>
    <tr>
        <th>Nom</th>
        <th>Prix</th>
        <th>Suppression de la ligne</th>
    </tr>
    <tr th:each="product : ${allProducts}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}">quantity</td>
        <td>
            <a th:href="|/delete_product/${product.id}|">Delete</a>
        </td>
    </tr>
</table>

<form action="#" th:action="@{/addproduct}" th:object="${basket}" method="post">

    <h2>Ajout d'un produit</h2>

    <table>
        <tr>
            <td>

                Nom:<br>
                <input type="text" name="name"/><br>
                Prix:<br>
                <input type="text" name="price"/><br>
                <button type="submit">Ajout d'un produit</button>
            </td>
        </tr>
    </table>

</form>


</body>
</html>